.body {
  color: #32325f;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.price {
  font-size: 48px;
  font-weight: 400;
}

.main {
  margin-top: 100px;
}


