*
  box-sizing: border-box

p
  margin: 0
  padding: 0

.main_block
  max-width: 1920px
  width: 100%
  box-shadow: 0px 0px 6px 0px gray
  margin: auto
  height: 723px
  background-color: #f9f9f9

  .text_title
    text-align: center
    margin-top: 100px
    font-size: 36px
    font-weight: 400

  .block-goods
    margin-top: 125px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    gap: 30px
    flex-wrap: wrap

  .block-product-title
    margin-top: 25px

  .block-product-price
    margin-top: 25px

  .block-product-btn
    margin-top: 25px
    border: 1px solid #23bac1
    padding: 23px 75px 23px 75px
    color: #23bac1
    font-size: 13px
    font-weight: 700
    background-color: transparent


