*
  box-sizing: border-box

p
  margin: 0
  padding: 0

.block
  display: flex
  border: 1px solid #000
  width: 90%
  margin: auto
  height: 150px
  flex-direction: row

.element
  width: 500px
  background-color: gray
